/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-left: 3em;
	margin-right: 3em;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
    bottom: 0;
    width: 100%;
    background-color:whitesmoke; 
	height: 30px;
	padding-top: 10px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}


footer.login-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke; 
	height: 30px;
	padding-top: 15px;
}

footer.login-footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}




article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-form {
	width: 200px; 
    margin: auto;
	margin-left: 80px; 

}

.login-form {
    width: 200px; 
    margin: auto; 
	margin-left: 540px;
}

h2#loginTitle {
    margin-bottom: 30px;
	margin-left: 25px; 
	
	
}

input[type="submit"] {
    margin-left: 110px; 
	width: 12em;
	height: 4em;
}

a {
	margin-left: 25px;
}


input[type="text"], input[type="email"] {
	width: 420px;
    height: 51px;
    margin-top: 5px;
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
	width: 420px;
    height: 51px;
    margin-top: 5px;
    margin-bottom: 15px;
}

select {
	width: 420px;
    height: 51px;
    top: 1011px;
    left: 510px;
    margin-top: 5px;
    margin-bottom: 15px;

}


#message {
    width: 420px;
    height: 150px;
}


/* styles.css */

button {
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
    background-color: white;
    margin: 1em;
    height: 4em;
    text-align: center;
    border-radius: 60px;
	width: 12em;
}

button:active, button.active {
    color: white;
    background-color: #1D6154;
}

#category-filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-container {
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 10 20px; 
}


#edit-mode-icon i {
	margin-left: 10px;
	margin-right: 3px;
    margin-bottom: 25px; 
	cursor: pointer;
}

#edit-mode-icon { 
	cursor: pointer;
}

#site-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	height: 3em;
}

.buttonEdition {
	color: white;
	text-align: center;
}

.buttonEdition i {
	margin-top: 1em;
	margin-right: 5px;

}

.main-container {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}


.modal-content {
    background-color: #FFFFFF;
    margin: 15% auto;
	height: 798px;
    border: 10px solid #888;
	Width: 630px;
	Top:660px;
	Left:405px;
	border-radius:10px;

}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 1px !important;
    right: 1px !important;
	margin-right: 15px;
	margin-top: 15px;
	
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closebis {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 1px !important;
    right: 1px !important;
	margin-top: 15px;
	margin-right: 15px;
	
}

.closebis:hover,
.closebis:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


h3 {
    text-align: center; 
    margin-top: 2em; 
	font-size:xx-large;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em; /* Espacement entre les images */
    margin: 2em 3em 0 4em; /* Marges ajustées */
	height: 38em;
}


.gallery-item {
	position: relative; 
    width: 76.86px;
    height: 102.57px;
    margin: 5px; 
}



.gallery-item img {
	width: 100%;
    height: 100%;
    
}


hr{
	border: 0.5px solid gray;  
	width: 30em;
}

.center-container {
	display: flex;
	justify-content: center;
}

.addPicture {
	color:white;
	background-color: #1D6154;
	Width:237px;
	Height:36px;
	cursor: pointer;
}

.delete-btn {
	color: white;
	background-color: black;
    Width:25px;
	Height:25px;
	border-radius:2px;
	position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
	margin-right: 0;
	margin-top: 0;
	
	
	
}

.fa-arrow-left {
    font-size: 24px;
	margin-left: 15px;
	margin-top: 15px;
}


.delete-btn i {
	display: flex;
	justify-content: center;
}

.photocontainer {
	margin-top: 1em;
	margin-left: 8em;
	display: flex;
	justify-content: center;
	background-color: #E8F1F6;
	Width:420px;
	Height:169px;

	
}

.addphoto {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	border-radius:3px;
	background-color:#E8F1F6;
	
}


.imagecenter {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	
}

.imagecenter i {
    font-size: 66px; 
	font-weight: 400;
}

.fa-image {
	color:#B9C5CC;

}

.buttoncenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttoncenter button {
	margin-top: 5px;
	color:darkslategray;
	background-color:lightgrey;
	cursor: pointer;

	
}

.buttoncenter p {
	font-size: xx-small;
	
}

.photoform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 7.5em;
	margin-top: 4em;
	margin-bottom: 5em;
}

.buttoncenterbis {
	display: flex;
	justify-content: center;

}

.buttoncenterbis button {
	background-color: #1D6154; /* Couleur du bouton actif */
    color: white;
    cursor: pointer;
	margin-top: 3em;
	width: 237px;
	height: 36px;
	
}

.labelModal {
    width: 420px;
}

.buttoncenterbis button:disabled {
	background-color: gray;
	cursor: not-allowed;
}

