/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Ajustement des styles pour le formulaire de connexion */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 200px; /* Ajuster la largeur du formulaire */
    margin: auto; /* Centrer le formulaire */
}

h2#loginTitle {
    margin-bottom: 30px;
	margin-left: 40px; /* Vous pouvez ajuster la valeur selon vos besoins */
	
	
}

input[type="submit"] {
    margin-left: 40px; /* Vous pouvez ajuster la valeur selon vos besoins */
	width: 12em;
	height: 4em;
}

a {
	margin-left: 40px;
}


input[type="text"], input[type="email"] {
	width: 250px; /* Ajuster la largeur des champs de saisie */
    height: 30px; /* Ajuster la hauteur des champs de saisie */
    margin-top: 5px;
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 250px; /* Ajuster la largeur des champs de saisie */
    height: 30px; /* Ajuster la hauteur des champs de saisie */
    margin-top: 5px;
    margin-bottom: 15px;
}


/* Sélecteur pour le textarea */
#message {
    width: 300px;
    height: 150px;
}


/* styles.css */

button {
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
    background-color: white;
    margin: 1em;
    height: 4em;
    text-align: center;
    border-radius: 60px;
	width: 12em;
}

button:active, button.active {
    color: white;
    background-color: #1D6154;
}

#category-filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-container {
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 10 20px; /* Ajoute une marge intérieure pour éviter les bords de la page */
}


#edit-mode-icon i {
	margin-left: 10px;
	margin-right: 3px;
    margin-bottom: 25px; /* Ajoute un espace entre l'icône et le texte "Modifier" */
}

#site-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	height: 3em;
}

.buttonEdition {
	color: white;
	text-align: center;
}

.buttonEdition i {
	margin-top: 1em;
	margin-right: 5px;

}

.main-container {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

/* Styles pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}


.modal-content {
    background-color: #FFFFFF;
	;
    margin: 15% auto;
	height: 798px;
    border: 10px solid #888;
	Width: 630px;
	Top:660px;
	Left:405px;
	border-radius:10px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ajoutez des styles pour le reste du contenu de la modale */

h3 {
    text-align: center; /* Centre le titre */
    margin-top: 2em; /* Supprime la marge par défaut du titre */
	font-size:xx-large;
}

#gallery-container {
    margin-left: 4em;
    margin-right: 3em;
    margin-top: 2em;
    height: 38em;
    width: 38em;
}



#gallery-item img {
	width: 50px; /* 20% pour 5 images par ligne, 1em pour la marge entre les images */
    height: 50px;
    margin-bottom: 1em;
	margin-right: 1em;
	Top:796px;
	Left:510px;

    
}


hr{
	border: 0.5px solid gray;  /* Couleur et style de la ligne */
	width: 30em;
}

.center-container {
	display: flex;
	justify-content: center;
}

.addPicture {
	color:white;
	background-color: #1D6154;
}

.delete-btn {
	color: white;
	background-color: black;
    height: 1em;
    border-radius: 15px;
    width: 3em;
	padding: 1em 1em 1em 1em;
}


























